@model ProductRequestModel

@if (ViewBag.IsEdit==true)
{
    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Product Updated Successfully. Go to <a asp-action="Index" asp-controller="Product" >Product Home Page</a> </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
}

<form asp-controller="Product" asp-action="Edit" method="post">
    <h1 class="display-6">Edit Product</h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                 <div class="mb-4">
                    <label asp-for="VendorId">Supplier</label>
                    <select asp-for="VendorId" class="form-control" asp-items="ViewBag.Vendors" >
                    <option value="">Select a supplier</option>   
                    </select>
                    <span asp-validation-for="VendorId"></span>
                </div>
            </div>
            <div class="col">
                 <div class="mb-4">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" >
                    <option value="">Select a category</option>   
                    </select>
                    <span asp-validation-for="CategoryId"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="QuantityPerUnit">Quantity Per Unit</label>
                    <input asp-for="QuantityPerUnit" class="form-control"/>
                    <span asp-validation-for="QuantityPerUnit" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="UnitPrice">Unit Price</label>
                    <input asp-for="UnitPrice" class="form-control"/>
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="UnitsInStock">Units In Stock</label>
                    <input asp-for="UnitsInStock" class="form-control"/>
                    <span asp-validation-for="UnitsInStock" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-4">
                    <label asp-for="UnitsOnOrder">Units On Order</label>
                    <input asp-for="UnitsOnOrder" class="form-control"/>
                    <span asp-validation-for="UnitsOnOrder" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-4">
                    <label asp-for="ReorderLevel">Reorder Level</label>
                    <input asp-for="ReorderLevel" class="form-control"/>
                    <span asp-validation-for="ReorderLevel" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                 <div class="mb-4">
                    <label asp-for="Discontinued"></label>
                    <select asp-for="Discontinued" class="form-control">
                        <option value="">Select a region</option> 
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                    <span asp-validation-for="Discontinued"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" value="Edit Product" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>