@model IEnumerable<EmployeeResponseModel>

<a asp-action="Create" asp-controller="Employee" class="btn btn-success">Add Employee</a>
<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_EmployeeCard" model="@item"></partial>
    }
</div>

        
